{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block body %}
    <h1>Players</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Fio</th>
                <td>{{ player.fio }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ player.role }}</td>
            </tr>
            <tr>
                <th>Command</th>
                <td>{{ player.command }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ player.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('players_index') }}">back to list</a>

    <a href="{{ path('players_edit', {'id': player.id}) }}">edit</a>

    {{ include('players/_delete_form.html.twig') }}
{% endblock %}
